/* !---------------- [start home] ----------------------------- */

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

.clear-fix {
    clear: both;
}

.home {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../Images/hero\ img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.home .nav-bar {
    padding: 5px 60px;
    background-color: rgba(0, 0, 0, 0.171);
    position: sticky;
}

.home .nav-bar .logo {
    width: fit-content;
    float: left;
    padding-top: 12px;
    padding-left: 20px;
}

.home .nav-bar .links {
    width: fit-content;
    float: right;
}

.home .nav-bar .links li {
    float: left;
    padding: 0 10px;
}

.home .nav-bar ul {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.nav-bar .links a,
.nav-bar .logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-bar .links ul li :hover,
.nav-bar .links .active,
.nav-bar .logo a {
    color: #ff305b;
}


.nav-bar .logo a {
    font-size: larger;
}

.home .content {
    padding-top: 120px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}

.home .content h1 {
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
}

.home .content h3 {
    position: relative;
    top: 35px;
}

.home .content h4 {
    position: relative;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: larger;
    font-weight: 300;
    width: fit-content;
}

.home .content h4::after {
    content: "";
    padding-left: 5px;
    border-right: 3px solid white;
}

/* !---------------- [end home] ----------------------------- */

/* ^------------------- [Start About ] ------------------------*/

.about {
    min-height: 100vh;
    padding: 70px 50px;
    color: #555555;
    font-size: larger;
}

.about .content {
    float: left;
    width: 45%;
    padding: 25px;
}



.about .content h2::before {
    content: "";
    padding-left: 5px;
    border-left: 3px solid #ff305b;
}

.about .content h2,
.about .content span {
    color: black;
}

.about .content p {
    padding-bottom: 10px;
    border-bottom: 1px dashed #999999;
}


.about .content .profile-about a {
    text-decoration: none;
    color: #555555;
}

.about .profile-about ul {
    list-style: none;
    padding: 0;
}

.about .profile-about ul .left,
.about .profile-about ul .right {
    float: left;
}

.about .profile-about ul .right {
    margin-left: 80px;
}

.about .profile-about ul li {
    padding-block: 3px;
    font-size: smaller;
}

.about .download-cv-btn button {
    background-color: #ff305b;
    height: 40px;
    border-style: none;
    border-radius: 5%;
    font-size: smaller;
    margin-left: 5px;
    margin-bottom: 5px;
}

.about .download-cv-btn button a {
    color: white !important;
}


.about .img .layer {
    display: none;
}

.about .img {
    float: left;
    width: 50%;
    min-height: 80vh;
    position: relative;
}

.about .img img {
    width: 50%;
    position: absolute;
    top: 50px;
    left: 150px;
}

.about .img .border {
    width: 50%;
    height: 370px;
    position: absolute;
    top: 25px;
    left: 130px;
    border: 6px solid #555555;
    border-radius: 5%;
}


.about .img .icons-layer i {
    padding-inline: 5px;
}

.about .img .icons-layer i:hover {
    cursor: pointer;
    color: #ff305b;
}

.about .img .icons-layer {
    width: 50%;
    height: 382px;
    position: absolute;
    background-color: rgba(12, 12, 12, 0.438);
    top: 50px;
    left: 150px;
    text-align: center;
    font-size: larger;
    padding-top: 200px;
    box-sizing: border-box;
    color: white;
    opacity: 0;
    transition-duration: 2s;
}

.about .img .icons-layer:hover {
    opacity: 1;
    top: 50px;
}


/* ^------------------- [End About ] ------------------------*/

/* ~-------------------- [Start Our Services] ---------------- */
.our-services {
    background-color: #f1f1f1;
    min-height: 90vh;
    padding: 60px 40px 40px 40px;
    text-align: center;
}

.our-services h2 {
    font-size: 40px;
    position: relative;
}

.our-services h2::after {
    content: "";
    position: absolute;
    background-color: #ff305b;
    width: 150px;
    height: 1px;
    top: 162%;
    left: 50%;
    transform: translate(-50%, 0);
}

.our-services h2::before {
    content: "";
    position: absolute;
    border-top: 1px solid #ff305b;
    border-bottom: 1px solid #ff305b;
    width: 70px;
    height: 10px;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 0);
}

.our-services .row {
    padding-block: 40px;
}

.our-services .row .card {
    width: 25%;
    float: left;
    padding-block: 20px;
    padding-inline: 5px;
    transition-duration: .3s;
}

.our-services .row .card i {
    color: #ff305b;
    font-size: larger;
}

.our-services .row .card:hover {
    cursor: pointer;
    background-color: white;
    border: shadow 2px gray;
    box-shadow: 3px 3px 3px gray;
}

.our-services .row .card:hover i {
    font-size: 25px;
}

/* ~-------------------- [End Our Services] ---------------- */

/**---------------------- [Start Portfolio] --------------------------- */
.portofolio {
    padding: 50px;
    text-align: center;
}

.portofolio .container {
    width: 85%;
    margin: auto;
}

.portofolio h2 {
    font-size: 40px;
    position: relative;
}

.portofolio h2::after {
    content: "";
    position: absolute;
    background-color: #ff305b;
    width: 150px;
    height: 2px;
    top: 155%;
    left: 50%;
    transform: translate(-50%, 0);
}

.portofolio h2::before {
    content: "";
    position: absolute;
    border: 2px solid #ff305b;
    border-left: transparent;
    border-right: transparent;
    width: 50px;
    height: 10px;
    top: calc(150% - 4px);
    left: 50%;
    transform: translate(-50%, 0);
}

.portofolio ul {
    list-style: none;
    padding: 40px;
    margin: auto;
}

.portofolio li {
    display: inline;
    margin: 10px;
}

.portofolio .p-color {
    color: #ff305b;
}


.portofolio li:hover {
    cursor: pointer;
}

.portofolio .port {
    float: left;
    margin: 10px;
    width: 31%;
    position: relative;
    overflow: hidden;
}

.portofolio .port .layer {
    background-color: rgba(0, 0, 255, 0);
    transition: all 0.5s;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.portofolio .port .layer i {
    display: none;
}

.portofolio .port .layer:hover i {
    color: #ff305b;
    margin: 10px;
    display: inline;
}

.portofolio .port:hover .layer {
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.397);
    width: 100%;
    height: 100%;
}

.portofolio .port img {
    width: 100%;
}

/**---------------------- [Start Portfolio] --------------------------- */

/*?-------------------- [Start Counts] ---------------------------------   */
.counts {
    background-color: #f1f1f1;
}

.counts .container {
    width: 75%;
    margin: auto;
    padding: 50px 0px;
}

.counts .container .count {
    margin: 10px;
    width: calc(25% - 20px);
    float: left;
    text-align: center;
    padding: 20px;
}

.counts .container .count h3 {
    font-size: 25px;
    color: #333333;
    margin: 20px;
}

.counts .container .count h4 {
    font-size: 20px;
    color: #333333;
    margin: 0;
}

.counts .container .count i {
    font-size: 25px;
    color: #ff305b;
    margin: 0;
}

/*?-------------------- [End Counts] ---------------------------------   */

/*&-------------------- [Start Feedback]-------------------------------  */
.feedback{
    min-height: 90vh;
    margin-block: 20px;
    padding: 40px;
}

.feedback h2 {
    text-align: center;
    font-size: 40px;
    position: relative;
}

.feedback h2::after {
    content: "";
    position: absolute;
    background-color: #ff305b;
    width: 150px;
    height: 1px;
    top: 158%;
    left: 50%;
    transform: translate(-50%, 0);
}

.feedback h2::before {
    content: "";
    position: absolute;
    border: 1px solid #ff305b;
    border-left: transparent;
    border-right: transparent;
    width: 50px;
    height: 10px;
    top: calc(150% - 2px);
    left: 50%;
    transform: translate(-50%, 0);
}

.feedback .card{
    width: 60%;
    height: 40vh;
    margin-inline: auto;
    background-color: #f1f1f1;
    position: relative;
    top: 30px;
    overflow: hidden;
}

.feedback .card .cubic{
    width: 200px;
    height: 250px;
    background-color: #ff305b;
    position: absolute;
    transform: rotate(45deg);
    top: -105px;
    left: -75px;

}

.feedback .img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 60px;
}

.feedback .card .content{
    width: 70%;
    position: absolute;
    top: 15px;
    right: 50px;

}

.feedback .card .stars{
    color: #f1c30d;
}
/*&-------------------- [End Feedback]-------------------------------  */

/*^----------------------- [Start Our Blog] ----------------------------- */
.blog{
    padding: 40px 60px;
    color: #555555;
    background-color: #f1f1f1;
    font-family: sans-serif;
}


.blog h2 {
    text-align: center;
    font-size: 40px;
    position: relative;
}

.blog h2::after {
    content: "";
    position: absolute;
    background-color: #ff305b;
    width: 150px;
    height: 1px;
    top: 158%;
    left: 50%;
    transform: translate(-50%, 0);
}

.blog h2::before {
    content: "";
    position: absolute;
    border: 1px solid #ff305b;
    border-left: transparent;
    border-right: transparent;
    width: 50px;
    height: 10px;
    top: calc(150% - 2px);
    left: 50%;
    transform: translate(-50%, 0);
}

.blog h2,
.blog h3 ,
.blog a {
    color: #333333;
}

.blog .container{
    width: 90%;
    margin-inline: auto;
    margin-top: 80px;
}

.blog .container .card{
    width: 30%;
    margin: 15px;
    float: left;
    background-color: white;
}

.blog .container .card .img img,
.blog .container .card .img iframe{
    width: 100%;
}

.blog .container .card .img iframe{
    height: 185px;
}

.blog .container .card .img:hover{
    cursor: pointer;
}

.blog .container .card .post-content{
    padding-block: 20px;
    padding-inline: 10px;
}

.blog .container .card a{
    text-decoration: none;
}

.blog .container .card a:hover{
    color: #ff305b;
}

/*^----------------------- [End Our Blog] ----------------------------- */

/*&-------------------- [Start Contact us]-------------------------------  */
.contact-us {
    text-align: center;
    padding-block: 40px;
}

.contact-us h2 {
    font-size: 40px;
    position: relative;
}

.contact-us h2::after {
    content: "";
    position: absolute;
    background-color: #ff305b;
    width: 150px;
    height: 2px;
    top: 155%;
    left: 50%;
    transform: translate(-50%, 0);
}

.contact-us h2::before {
    content: "";
    position: absolute;
    border: 2px solid #ff305b;
    border-left: transparent;
    border-right: transparent;
    width: 50px;
    height: 10px;
    top: calc(150% - 4px);
    left: 50%;
    transform: translate(-50%, 0);
}

.contact-us .contact-form {
    width: 50%;
    margin: 50px auto;
    text-align: left;
}

.contact-us .contact-form input {
    border-radius: 5px;
    border: solid 1px rgb(174, 174, 174);
    height: 40px;
    margin: 20px;
    width: 100%;
}

.contact-us .contact-form .name {
    width: 48%;
    float: left;
    margin-left: 0%;
}

.contact-us .contact-form .email {
    width: 48%;
    float: right;
    margin-right: 0%;
}

.contact-us .contact-form textarea {
    border-radius: 5px;
    border: solid 1px rgb(174, 174, 174);
    height: 100px;
    margin: 20px;
    width: 100%;
}

.contact-us .contact-form button {
    background-color: #ff305b;
    border: none;
    /* width:auto ; */
    height: 40px;
    border-radius: 5px;
    color: white;
    padding: 0px 15px;
    margin: 10px 20px;
}

.contact-us .contact-form button:hover {
    background-color: hwb(348 10% 2%);
}

/*&-------------------- [End Contact us]-------------------------------  */

/*^----------------------- [Start Footer] ----------------------------- */
.footer {
    background-color: #333333;
    color: white;
    height: 150px;
    text-align: center;
    padding: 50px;
}

.footer .icons {
    width: 10%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer .icons i:hover {
    color: #ff305b;
}

.footer h6 {
    display: inline;
    font-family: sans-serif;
    font-size: 12px;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline #ff305b;
}

/*^----------------------- [End Footer] ----------------------------- */