:root {
    --main-dark-clr: #1e202b;
    --second-dark-clr: #262936;
    --blue-clr: #009ad8;
    --second-text-clr: #bfc1c8;
}

/* ?---------------- [ start nav ] ------------- */
nav {
    background-color: var(--main-dark-clr);
}

nav .nav-link,
.navbar-toggler {
    color: white;
}

nav .website-name {
    font-size: 1rem;
}

nav .website-description {
    font-size: .6rem;
    color: var(--second-text-clr);
    display: block;
}

.navbar-nav .nav-link {
    transform: 400ms;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    border: 1px solid var(--blue-clr) !important;
    border-radius: 30px;
    color: var(--blue-clr);
}

/* ?---------------- [ End nav ] ------------- */

/* ~---------------- [ start main] ------------ */
main {
    background-image: url("https://routeweather.netlify.app/images/banner.png");
    background-repeat: no-repeat;
    background-color: var(--main-dark-clr);
    color: var(--second-text-clr);
    min-height: 100vh;
}

main .card {
    background-color: var(--second-dark-clr);
    color: var(--second-text-clr);
    min-height: 50vh;
    --bs-card-group-margin: 0 !important;
}

@media screen and (max-width : 900px) {
    main .row{
        gap: 1.5rem ;
    }
}

main .card .num {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

main .card .num sub {
    position: relative;
    top: -30px;
}

main .card .custom {
    color: var(--blue-clr);
}

.card.second-day {
    background-color: #1e2233;
}

.card.third-day sub,
.card.second-day sub{
position: relative;
top: -10px;
}

/* ~---------------- [ End main] ------------ */


/* !---------------- [ start footer ] ---------- */
footer {
    background-color: var(--second-dark-clr);
}

footer p {
    color: var(--second-text-clr);
}

footer ul li {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--main-dark-clr);
    color: var(--blue-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

footer ul li:hover {
    background-color: var(--blue-clr);
    color: var(--second-text-clr);
}

footer form input,
main input {
    border: none;
    padding: 15px;
    border-radius: 30px;
    color: var(--second-text-clr);
    background-color: var(--main-dark-clr);
}

footer form input:focus,
main input:focus {
    outline: none;
}

footer button,
main button {
    color: white;
    background-color: var(--blue-clr);
    border: none;
    border-radius: 30px;
    padding: 10px 15px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

main button {
    padding-inline: 30px;
}

/* !---------------- [ end footer ] ---------- */