<h2 class="text-center">Create Your Own Order</h2>

<select class="form-select mt-4" aria-label="Default select example" [(ngModel)]="selectedCatId">
    <option *ngFor='let cat of catList' value="{{cat.id}}" >{{cat.name}}</option>
</select>


<app-products-list [sendCategoryID]="selectedCatId" (totalPriceEvent)="onTotalPriceChanged($event)" ></app-products-list>

<div>
    <input #divViewChild type="text" class="form-control">
</div>
<h5 class="text-center my-3">Order Total Price = {{orderTotalPrice}}$</h5>
