<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Av. Quantity</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prd of prdList">
            <th scope="row">{{prd.id}}</th>
            <td>{{prd.name}}</td>
            <td>{{prd.price}}</td>
            <td>{{prd.quantity}}</td>
            <td><img src="{{prd.imgUrl}}" alt=""></td>
            <td>{{prd.categoryID}}</td>
            <td>
                <input #itemCount type="number" class="me-1"> 
                <button class="btn btn-secondary" (click)="buy(prd.price, itemCount.value)">Buy</button>
            </td>
        </tr>
    </tbody>
</table>

<h3 class="text-center">Order Total Price = {{orderTotalPrice}}$</h3>