
<table class="table my-4">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Av. Quantity</th>
            <th scope="col">Image</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prd of prdListOfCategory; let i = index; trackBy:prdTrackByFunc" >
            <th scope="row">{{i+1}}</th>
            <td>{{prd.name}}</td>
            <td>{{prd.price | currency}}</td>
            <td>
                <div [ngSwitch]="prd.quantity">
                    <div *ngSwitchCase="0">Out Of Stock!</div>
                    <div *ngSwitchCase="1">Last Item!!</div>
                    <div *ngSwitchDefault>{{prd.quantity}}</div>
                </div>
            </td>
            <td><img LightBox src="{{prd.imgUrl}}" alt=""></td>
            <td>{{prd.categoryID}}</td>
            <td>
                <input #itemCount type="number" class="me-1">
                <button class="btn btn-primary" (click)="buy(prd.price, itemCount.value)">Add to card</button>
                <button class="btn btn-secondary ms-1" (click)="prdDetails(prd.id)">Details</button>
            </td>
        </tr>
    </tbody>
</table>

